<%= form_with model: @project do |form| %>

        <%= current_user%>

       <%= form.hidden_field :user_id, value: current_user %>
       
 
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
   
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
    
  </div>

  <div>
    <%= form.submit %>
    
  </div>
<% end %>
